body {
  display: flex;
  flex-wrap: wrap;
  width: 325px;
}

#title, h3, h1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 325px;
  margin: 5px;
}

#buttons {
  height: 75px;
  display: flex;
}

#start {
  background-color: #5CB437;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 10px;
}

#addTime {
  background-color: #2D945D;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 10px;
}

#subtractTime {
  background-color: #C53C54;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 10px;
}

#reset {
  background-color: #D26140;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 10px;
}
